@charset "utf-8";
/* CSS Document */
img {
    width: 30%;
    height: auto;
}
header {
    text-align: center;
}
body {
    background: rgb(212, 237, 245);
}
main {
    display: flex;
    flex-direction: column;
    background: rgb(212, 237, 245);
    align-items: center;
}
section {
    background-color: antiquewhite;
    padding: 2em;
    overflow-y: auto;
}

@media screen and (min-width: 800px) {
    main {
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
        gap: 1em;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    section {
        width: calc(50% - 5em);
        height: 40em;
    }
}

@media screen and (min-width: 1600px) {
    main {

    }
    section {
        width: calc(25% - 5em);
        padding: 1em;
    }
}