@charset "utf-8";
/* CSS Document */
img {
    width: 20%;
    height: auto;
}
header {
    text-align: center;
}
body {
    background: rgb(212, 237, 245);
}
main {
    display: flex;
    flex-direction: column;
    background: rgb(212, 237, 245);
    align-items: center;
}
section {
    background-color: antiquewhite;
}